<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Países</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>
<body>
    <header>
        <h1>Consulta de Países - REST Countries 🌍</h1>
        <!-- Imagen decorativa debajo del título -->
        <div class="header-img-container">
            <img src="../statics/imagenes/paises.jpg" alt="Países" class="header-img">
        </div>
    </header>

    <main>
        <div class="consulta-form">
            <input type="text" id="input-pais" placeholder="Ingresa el nombre de un país (Ej: Argentina)">
            <button id="boton-buscar-pais">Buscar País</button>
        </div>
        
        <div id="resultado-container" class="resultado"></div>

        <a href="../index.html" class="boton-volver">⬅️ Volver al Inicio</a>
    </main>

    <script src="../js/paises.js"></script>
</body>
</html>

