<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Países</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>
<body>
    <header>
        <h1>Consulta de Países - REST Countries 🌍</h1>
    </header>

    <main>
        <div class="consulta-form">
            <input type="text" id="input-pais" placeholder="Ingresa el nombre de un país (Ej: Argentina)">
            <button id="boton-buscar-pais">Buscar País</button>
        </div>
        
        <div id="resultado-container" class="resultado">
            <h3>Información del País:</h3>
            <p><strong>Nombre Oficial:</strong> <span id="pais-nombre-oficial">...</span></p>
            <p><strong>Capital:</strong> <span id="pais-capital">...</span></p>
            <p><strong>Población:</strong> <span id="pais-poblacion">...</span></p>
            <img id="bandera-img" src="" alt="Bandera del país" class="hidden">
        </div>

        <a href="../index.html" class="boton-volver">⬅️ Volver al Inicio</a>
    </main>

    <script src="../js/paises.js"></script>
</body>
</html>
