<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Rick & Morty</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>
<body>
    <header>
        <h1>Buscador de Personajes - Rick & Morty API 🧪</h1>
        <!-- Imagen decorativa debajo del título -->
        <div class="header-img-container">
            <img src="../statics/imagenes/rick.jpg" alt="Rick & Morty" class="header-img">
        </div>
    </header>

    <main>
        <div class="consulta-form">
            <input type="number" id="input-rick" placeholder="Ingresa el ID del personaje (Ej: 1)">
            <button id="boton-buscar-rick">Buscar Personaje</button>
        </div>
        
        <div id="resultado-container" class="resultado"></div>

        <a href="../index.html" class="boton-volver">⬅️ Volver al Inicio</a>
    </main>

    <script src="../js/rick.js"></script>
</body>
</html>
